@model IEnumerable<Course>

<h2>Kursliste</h2>

<table class="table">
    <thead>
        <tr>
            <th>Kursname</th>
            <th>Einheiten</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseName</td>
                <td>@course.CourseUnit</td>
                <td>
                    <a class="btn btn-success">O</a>
                    @using (Html.BeginForm("Delete", "Course", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger btn-fixed-width">X</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>